*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-height: 100vh;
}

.header-container{
    display: flex;
    justify-content:space-between;
    background-color: brown;
    height: 80px;
    align-items: center;

}

.logo{
    background-color: aqua;
    border-radius: 10px;
    height: 40px;
    margin-left:70px ;
    padding: 5px;
}

.nav{
    border-right: 2px solid cyan;
}


.nav-links{
    display:flex;
    justify-content:space-around;
    gap: 1rem;
    margin-right: 70px;
    align-items: center;
}

.assistance{
    display:flex;
}

.hero-section{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.text-area{
max-width: 45%;
}

.text-area h1{
font-size: 70px;
}

.image-area{
    max-width: 55%;
}

.image-area img{
width: 100%;
height: 500px;
}

button{
    background-color: blue;
    border-radius: 5px;
    padding: 8px;
    width: 130px;
}

